*{
    color:rgb(13, 13, 13);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color:aliceblue
}

h2{
    color:aliceblue
}

h3{
    color:aliceblue
}
body{
    background-color: #8E12FF;
}
#sports{
    background-color: #4C0092
}
#economy{
    background-color: #450181;
}
#copy{
    color:aliceblue
}
a{
    color:aliceblue
}
.creation-date{
    color:rgb(13, 13, 13)
}
li{
    color:aliceblue
}
.container{
    color:aliceblue;
    width: 1366px;
    margin: 0 auto 0 auto;
}