h1{
    color:aliceblue
}

h2{
    color:aliceblue
}

h3{
    color:aliceblue
}
body{
    background-color: #8E12FF;
}
#sports{
    background-color: #4C0092
}
#economy{
    background-color: #3B0070;
}
#copy{
    color:aliceblue
}