*{
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header, h1{
    background-color: #2f3640;
    padding: 16px 8;
    color: #fff;
}

header li{
    display: inline;
}
header li a{
    color: #fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 1264px;
    margin: 0, auto, 0, auto;
}
.creation-date{
    color: #121212;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 160px;
}

.articles article{
    width: 30%;
}
section{
    padding: 16px 8;
}

section h2,
.articles .article{
    margin-bottom: 16px;
}

.articles h3{
    margin-top: 16px;
    margin-bottom: 16px;
}
.articles article a{
    background-color: #2f3640;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}
.articles article a:hover{
    text-decoration: underline;
    background-color: blue;
}
#sports{
    background-color: #f8f59f;
}
#sports .articles article a{
    background-color: #fff91a;
}
#economy{
    background-color: #ac9ff8;
}
#economy .articles article a{
    background-color: #391aff;
}
#febre{
    background-color: rgba(0, 255, 0, 0.2);
}
#febre .articles article a{
    background-color: #009432;
}
#games{
    background-color: #f89f9f;
}
#games .articles article a{
    background-color: #ff1a1a;
}
footer{
    background-color: #2f3640;
}